In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import pyarrow as pa
import pyarrow.parquet as pq

from sklearn.preprocessing import StandardScaler

# Specify the path to your Parquet file



file_path = "./data/linearmodel.parquet"

# Read the Parquet file into a pandas DataFrame
df = pd.read_parquet(file_path)
onehot_df = df.iloc[:, [1] + list(range(64-23,64))]
month_embeds = onehot_df.groupby("Month").sum()
# month_totals = month_embeds.sum(axis=1)
# month_pdf = month_embeds.apply(lambda row: row / month_totals[row.name], axis=1) * 2.0 -1
# #month_pdf
# scaler = StandardScaler()
# normalized_df = scaler.fit_transform(month_embeds)
# normalized_df = pd.DataFrame(normalized_df, columns=month_embeds.columns)
# normalized_df
#normalized_df.to_parquet( "./data/lstm2.parquet")
#month_pdf
month_embeds[-12:]

,Barnet Vale,Brunswick Park,Burnt Oak,Childs Hill,Colindale North,Cricklewood,East Barnet,East Finchley,Edgware,Edgwarebury,...,Golders Green,Hendon,High Barnet,Mill Hill,Totteridge & Woodside,Underhill,West Finchley,West Hendon,Whetstone,Woodhouse
Month,,,,,,,,,,,,,,,,,,,,,
2022-04-01,7,3,4,18,4,4,2,4,8,4,...,8,17,7,9,8,3,5,6,10,4
2022-05-01,7,7,11,25,4,12,7,17,7,3,...,9,18,7,5,6,6,5,7,7,5
2022-06-01,11,4,18,19,4,8,6,9,11,5,...,9,13,5,5,4,5,9,8,6,7
2022-07-01,6,3,7,15,8,5,5,7,11,4,...,15,13,2,9,10,2,6,8,6,5
2022-08-01,3,6,9,18,4,8,2,6,7,4,...,11,4,8,5,4,2,13,13,6,3
2022-09-01,4,9,8,20,6,13,6,12,10,2,...,4,7,6,10,7,2,8,9,8,3
2022-10-01,4,9,12,30,4,11,10,4,15,1,...,10,25,7,8,10,2,14,11,4,8
2022-11-01,5,4,11,32,5,15,5,3,8,5,...,10,18,10,7,13,5,16,11,11,15
2022-12-01,9,5,13,21,6,13,11,6,10,6,...,6,12,0,13,15,3,9,9,10,7
2023-01-01,5,7,11,21,5,13,9,5,10,3,...,11,15,9,10,15,5,17,11,0,4
2023-02-01,2,14,4,21,3,15,5,5,11,4,...,6,11,7,12,12,2,5,10,3,6
2023-03-01,7,13,11,20,7,9,8,9,8,6,...,14,13,6,7,12,1,13,9,4,7

Min-Max Scaling

In [30]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
minmax_df = scaler.fit_transform(month_embeds)
minmax_df = pd.DataFrame(minmax_df, columns=month_embeds.columns)
minmax_df
#minmax_df.to_parquet( "./data/lstm_minmax.parquet")

Max Abs Scaler

In [32]:
from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()
maxabs_df = scaler.fit_transform(month_embeds)
maxabs_df = pd.DataFrame(maxabs_df, columns=month_embeds.columns)
maxabs_df.to_parquet( "./data/lstm_maxabs.parquet")

RobustScaler

In [34]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
robust_df = scaler.fit_transform(month_embeds)
robust_df = pd.DataFrame(robust_df, columns=month_embeds.columns)
robust_df.to_parquet( "./data/lstm_robust.parquet")

Quantile Transformer Scaler / Rank Scaler

In [ ]:
from sklearn.preprocessing import QuantileTransformer
scaler = QuantileTransformer()
rank_df = scaler.fit_transform(month_embeds)
rank_df = pd.DataFrame(rank_df, columns=month_embeds.columns)
#rank_df.to_parquet( "./data/lstm_rank.parquet")

c:\Users\20211445\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_data.py:2627: UserWarning: n_quantiles (1000) is greater than the total number of samples (148). n_quantiles is set to n_samples.
  warnings.warn(

Power Transformer ('yeo-johnson')

In [3]:
from sklearn.preprocessing import PowerTransformer
scaler = PowerTransformer(method='yeo-johnson')
power_df = scaler.fit_transform(month_embeds)
power_df=pd.DataFrame(power_df,columns=month_embeds.columns)
#power_df.to_parquet( "./data/lstm_power.parquet")
power_df

,Barnet Vale,Brunswick Park,Burnt Oak,Childs Hill,Colindale North,Cricklewood,East Barnet,East Finchley,Edgware,Edgwarebury,...,Golders Green,Hendon,High Barnet,Mill Hill,Totteridge & Woodside,Underhill,West Finchley,West Hendon,Whetstone,Woodhouse
0,0.188471,0.308168,-0.653644,-0.079744,0.704414,0.242285,0.709993,1.361191,1.406909,2.104187,...,0.015485,1.794594,0.885742,1.703240,0.243799,0.117455,1.448409,0.259025,-0.053832,0.058717
1,1.361322,0.597449,0.139670,2.177896,0.022607,0.620599,1.206828,1.511606,-0.021521,1.822238,...,1.832734,1.347106,1.969700,2.187524,1.620453,1.276375,1.748994,0.703723,0.899150,1.685129
2,1.055310,1.436359,-0.653644,0.443650,0.022607,1.659135,0.125953,0.530363,0.174585,1.357013,...,0.879472,0.742370,1.054587,0.886120,0.878338,-0.570626,1.010290,1.104940,1.066943,1.160152
3,0.463944,0.308168,-1.760273,1.437963,0.996642,2.232503,0.282294,0.708767,-1.931509,0.417896,...,2.009825,2.418049,1.376693,1.489167,-0.232224,2.136011,0.892855,-0.426624,1.385570,-0.755504
4,1.549899,0.597449,0.467904,1.821438,0.382412,2.532947,0.573569,-0.496279,-0.652999,-0.598964,...,1.001483,1.794594,1.530830,0.462453,1.443914,1.669945,1.010290,0.098929,1.385570,0.235722
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,-1.353793,-1.614831,-0.433932,1.337252,0.022607,0.955563,-1.301218,-1.945831,-0.881238,-0.598964,...,-0.541751,-0.072046,0.144144,-1.088341,0.878338,-0.570626,0.100539,-0.620144,0.353975,0.873729
144,-0.464808,-1.310731,-0.039253,0.057171,0.382412,0.620599,-0.038777,-0.999883,-0.434416,-0.310040,...,-1.530718,-1.032457,-2.996036,0.144458,1.261762,-1.168224,-1.127870,-1.043008,0.155319,-0.532216
145,-1.353793,-0.800573,-0.433932,0.057171,0.022607,0.620599,-0.398554,-1.283241,-0.434416,-1.292038,...,-0.343139,-0.529095,-0.062225,-0.406026,1.261762,-0.570626,0.244904,-0.620144,-3.180725,-1.261221
146,-2.386379,0.456378,-2.547564,0.057171,-0.865910,0.955563,-1.301218,-1.283241,-0.224253,-0.922162,...,-1.530718,-1.213251,-0.509647,-0.027916,0.675666,-1.543934,-2.139370,-0.825007,-1.678214,-0.755504
147,-0.867661,0.308168,-0.433932,-0.079744,0.704414,-0.193853,-0.597053,-0.268643,-0.881238,-0.310040,...,0.178840,-0.858640,-0.755122,-1.088341,0.675666,-2.013540,-0.371763,-1.043008,-1.340068,-0.532216

Unit Vector Scaler

In [16]:
magnitudes = np.linalg.norm(month_embeds, axis=1)  # Calculate magnitudes of each vector
unit_df = month_embeds / magnitudes[:, np.newaxis]
unit_df.reset_index(inplace=True)
unit_df.drop("Month", axis=1, inplace=True)
unit_df.to_parquet( "./data/lstm_unit.parquet")

In [7]:
from sklearn import preprocessing
df_norm  = preprocessing.normalize(month_embeds, norm='l2')
df_norm=pd.DataFrame(df_norm,columns=month_embeds.columns)
df_norm.to_parquet( "./data/lstm_norm.parquet")

No changes

In [26]:
month_embeds.columns
df_test = month_embeds.copy()
df_test.reset_index(inplace=True)
df_test.drop("Month", axis=1, inplace=True)
df_test.to_parquet("./data/lstm_no.parquet")